Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/CameraArrayTools/Binaries/
Plugins/CameraArrayTools/Intermediate/
Content/PhotoR_Backgrounds/
.git/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.log
*.dot
*.dgml
*.obj
*.idea
*.ilk
*.pdb
*.exp
*.lib
*.res
*.aps
*.clw
*.ncb
*.opt
*.plg
*.tlog
*.bsc
*.sbr
*.idb
*.pch
*.ipch
*.aps
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.db
*.opendb
*.sdf
*.vs
*.vsconfig
*.vscode/
*.user
*.userprefs
*.autosave

# 特定平台文件
**/IOS/
**/Android/
**/Linux/
**/Mac/
**/Windows/
**/Hololens/
**/PS4/
**/XboxOne/
**/Switch/

# 内容缓存
**/AssetRegistryCache/
**/DDC/